<!DOCTYPE html>

<html>

<head>
    <title>HomePage</title>
</head>

<body>
        {{>header}}

        <p>Use this form to get detailed student details</p>

  <form>
  <p>Please fill any one of the field</p>
  <input type="radio" id="html" name="search_field" value="name">
  <label for="html">Search by Name</label><br>
  <input type="radio" id="css" name="search_field" value="id">
  <label for="css">Search by ID</label><br>
  <br>  

  <p>Please fill in the field:</p>
  <input type="text" id="search_text" placeholder="ID or Name">
  <button>Submit</button>
</form>

<p id="message-1"></p>
    {{>footer}}

<script src="/js/home_page.js"></script>

</body>

</html>